In [18]:
import S3Tools
import datetimeTools
import pandas as pd
import boto3

data = S3Tools.preview_csv_dataset(bucket='nyc-tlc',key='trip data/yellow_tripdata_2018-01.csv',rows=120000)
#data = S3Tools.preview_csv_dataset(bucket='noaa-csv-data',key='Central-Park/725053-94728-2018.csv',rows=20)
data.head(250)

#s3 = boto3.client('s3')
#s3.download_file('nyc-tlc', 'trip data/green_tripdata_2017-12.csv', 'green_tripdata_2017-12.csv')

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2018-01-01 00:21:05,2018-01-01 00:24:23,1,0.50,1,N,41,24,2,4.5,0.5,0.5,0.00,0.00,0.3,5.80
1,1,2018-01-01 00:44:55,2018-01-01 01:03:05,1,2.70,1,N,239,140,2,14.0,0.5,0.5,0.00,0.00,0.3,15.30
2,1,2018-01-01 00:08:26,2018-01-01 00:14:21,2,0.80,1,N,262,141,1,6.0,0.5,0.5,1.00,0.00,0.3,8.30
3,1,2018-01-01 00:20:22,2018-01-01 00:52:51,1,10.20,1,N,140,257,2,33.5,0.5,0.5,0.00,0.00,0.3,34.80
4,1,2018-01-01 00:09:18,2018-01-01 00:27:06,2,2.50,1,N,246,239,1,12.5,0.5,0.5,2.75,0.00,0.3,16.55
5,1,2018-01-01 00:29:29,2018-01-01 00:32:48,3,0.50,1,N,143,143,2,4.5,0.5,0.5,0.00,0.00,0.3,5.80
6,1,2018-01-01 00:38:08,2018-01-01 00:48:24,2,1.70,1,N,50,239,1,9.0,0.5,0.5,2.05,0.00,0.3,12.35
7,1,2018-01-01 00:49:29,2018-01-01 00:51:53,1,0.70,1,N,239,238,1,4.0,0.5,0.5,1.00,0.00,0.3,6.30
8,1,2018-01-01 00:56:38,2018-01-01 01:01:05,1,1.00,1,N,238,24,1,5.5,0.5,0.5,1.70,0.00,0.3,8.50
9,1,2018-01-01 00:17:04,2018-01-01 00:22:24,1,0.70,1,N,170,170,2,5.5,0.5,0.5,0.00,0.00,0.3,6.80
10,1,2018-01-01 00:41:03,2018-01-01 00:46:49,1,0.60,1,N,162,229,1,5.5,0.5,0.5,1.35,0.00,0.3,8.15
11,1,2018-01-01 00:52:54,2018-01-01 01:17:33,1,3.50,1,N,141,113,2,16.5,0.5,0.5,0.00,0.00,0.3,17.80
12,2,2018-01-01 00:17:54,2018-01-01 00:22:05,1,1.04,1,N,137,224,2,5.5,0.5,0.5,0.00,0.00,0.3,6.80
13,2,2018-01-01 00:24:47,2018-01-01 00:34:20,1,1.22,1,N,224,79,2,7.5,0.5,0.5,0.00,0.00,0.3,8.80
14,2,2018-01-01 00:37:57,2018-01-01 00:53:43,1,1.92,1,N,234,100,2,10.0,0.5,0.5,0.00,0.00,0.3,11.30
15,1,2018-01-01 00:35:53,2018-01-01 00:52:59,1,5.70,1,N,13,189,1,19.0,0.5,0.5,4.05,0.00,0.3,24.35
16,2,2018-01-01 00:30:47,2018-01-01 01:13:20,1,3.74,1,N,48,236,1,25.5,0.5,0.5,6.70,0.00,0.3,33.50
17,1,2018-01-01 00:21:45,2018-01-01 00:25:58,2,0.60,1,N,163,162,1,4.5,0.5,0.5,1.70,0.00,0.3,7.50
18,1,2018-01-01 00:31:11,2018-01-01 01:07:56,1,10.90,1,N,229,61,2,35.0,0.5,0.5,0.00,0.00,0.3,36.30
19,2,2018-01-01 00:15:42,2018-01-01 00:21:38,5,1.22,1,N,236,75,2,6.0,0.5,0.5,0.00,0.00,0.3,7.30
20,2,2018-01-01 00:25:19,2018-01-01 00:45:02,5,3.13,1,N,263,143,2,13.0,0.5,0.5,0.00,0.00,0.3,14.30
21,2,2018-01-01 00:51:36,2018-01-01 01:04:13,5,2.22,1,N,239,24,2,9.5,0.5,0.5,0.00,0.00,0.3,10.80
22,2,2018-01-01 00:09:11,2018-01-01 00:30:24,1,2.93,1,N,90,233,1,14.5,0.5,0.5,2.00,0.00,0.3,17.80
23,2,2018-01-01 00:32:00,2018-01-01 00:58:50,1,3.52,1,N,233,125,2,18.0,0.5,0.5,0.00,0.00,0.3,19.30
24,1,2018-01-01 00:41:49,2018-01-01 00:54:44,4,3.00,1,N,161,146,1,12.0,0.5,0.5,2.65,0.00,0.3,15.95
25,2,2018-01-01 00:17:15,2018-01-01 00:21:49,5,0.25,1,N,234,234,2,4.5,0.5,0.5,0.00,0.00,0.3,5.80
26,2,2018-01-01 00:24:54,2018-01-01 00:46:55,5,3.31,1,N,234,143,1,16.0,0.5,0.5,3.46,0.00,0.3,20.76
27,2,2018-01-01 00:48:40,2018-01-01 00:51:30,5,0.57,1,N,142,239,1,4.0,0.5,0.5,1.06,0.00,0.3,6.36
28,1,2018-01-01 00:24:42,2018-01-01 00:31:56,2,0.70,1,N,170,162,2,6.0,0.5,0.5,0.00,0.00,0.3,7.30
29,1,2018-01-01 00:36:09,2018-01-01 00:43:06,1,1.80,1,N,233,263,2,7.5,0.5,0.5,0.00,0.00,0.3,8.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,2,2018-01-01 00:48:19,2018-01-01 01:17:54,6,1.35,1,N,230,186,2,17.5,0.5,0.5,0.00,0.00,0.3,18.80
221,2,2018-01-01 00:15:46,2018-01-01 00:19:58,1,0.97,1,N,262,236,2,5.5,0.5,0.5,0.00,0.00,0.3,6.80
222,2,2018-01-01 00:21:34,2018-01-01 00:25:02,1,1.05,1,N,236,237,1,5.0,0.5,0.5,1.26,0.00,0.3,7.56
223,2,2018-01-01 00:26:12,2018-01-01 00:34:44,1,1.56,1,N,237,142,1,8.0,0.5,0.5,1.86,0.00,0.3,11.16
224,1,2018-01-01 00:15:58,2018-01-01 00:20:57,1,0.60,1,N,43,239,1,5.0,0.5,0.5,1.85,0.00,0.3,8.15
225,1,2018-01-01 00:22:13,2018-01-01 00:35:47,1,1.30,1,N,239,48,2,10.5,0.5,0.5,0.00,0.00,0.3,11.80
226,1,2018-01-01 00:51:22,2018-01-01 01:03:10,2,2.40,1,N,238,140,1,10.5,0.5,0.5,2.95,0.00,0.3,14.75
227,2,2018-01-01 00:28:49,2018-01-01 00:31:00,1,0.41,1,N,142,142,1,3.5,0.5,0.5,0.96,0.00,0.3,5.76
228,2,2018-01-01 00:32:01,2018-01-01 00:39:32,1,0.74,1,N,142,143,2,6.5,0.5,0.5,0.00,0.00,0.3,7.80
229,2,2018-01-01 00:42:35,2018-01-01 00:53:27,1,1.68,1,N,143,238,2,9.5,0.5,0.5,0.00,0.00,0.3,10.80
230,2,2018-01-01 00:59:29,2018-01-01 01:10:14,1,2.16,1,N,239,24,1,10.0,0.5,0.5,2.26,0.00,0.3,13.56
231,1,2018-01-01 00:32:19,2018-01-01 01:06:22,1,20.80,2,N,132,239,1,52.0,0.0,0.5,11.70,5.76,0.3,70.26
232,1,2018-01-01 00:41:02,2018-01-01 00:48:54,1,1.70,1,N,82,160,4,7.5,0.5,0.5,0.00,0.00,0.3,8.80
233,1,2018-01-01 00:21:20,2018-01-01 00:55:02,2,2.50,1,N,237,107,1,20.0,0.5,0.5,4.25,0.00,0.3,25.55
234,1,2018-01-01 00:59:32,2018-01-01 01:13:53,2,1.50,1,N,234,148,1,10.0,0.5,0.5,1.13,0.00,0.3,12.43
235,1,2018-01-01 00:16:28,2018-01-01 00:32:41,2,2.60,1,N,239,236,1,12.5,0.5,0.5,2.76,0.00,0.3,16.56
236,1,2018-01-01 00:36:04,2018-01-01 00:53:45,2,3.80,1,N,236,116,1,14.5,0.5,0.5,3.15,0.00,0.3,18.95
237,2,2018-01-01 00:22:19,2018-01-01 00:37:23,1,2.82,1,N,179,82,2,12.5,0.5,0.5,0.00,0.00,0.3,13.80
238,2,2018-01-01 00:52:02,2018-01-01 01:04:54,1,2.33,1,N,226,7,1,10.5,0.5,0.5,2.95,0.00,0.3,14.75
239,2,2018-01-01 00:24:51,2018-01-01 00:32:56,1,1.46,1,N,113,231,2,7.5,0.5,0.5,0.00,0.00,0.3,8.80
240,2,2018-01-01 00:39:25,2018-01-01 00:56:41,1,2.23,1,N,211,170,1,12.5,0.5,0.5,2.76,0.00,0.3,16.56
241,2,2018-01-01 00:32:59,2018-01-01 00:53:27,3,5.96,1,N,50,74,2,20.0,0.5,0.5,0.00,0.00,0.3,21.30
242,2,2018-01-01 00:57:01,2018-01-01 01:05:26,3,1.35,1,N,74,41,2,7.5,0.5,0.5,0.00,0.00,0.3,8.80
243,2,2018-01-01 00:09:07,2018-01-01 00:24:29,2,8.69,1,N,138,140,1,24.5,0.5,0.5,6.31,5.76,0.3,37.87
244,2,2018-01-01 00:07:25,2018-01-01 00:12:01,1,0.91,1,N,231,144,2,5.5,0.5,0.5,0.00,0.00,0.3,6.80
245,2,2018-01-01 00:12:47,2018-01-01 00:15:58,1,0.62,1,N,144,211,1,4.5,0.5,0.5,1.74,0.00,0.3,7.54
246,2,2018-01-01 00:18:13,2018-01-01 00:44:45,1,7.65,1,N,211,75,2,27.0,0.5,0.5,0.00,0.00,0.3,28.30
247,2,2018-01-01 00:53:55,2018-01-01 00:57:38,1,0.80,1,N,237,236,1,5.0,0.5,0.5,1.26,0.00,0.3,7.56
248,2,2018-01-01 00:40:42,2018-01-01 00:53:18,1,5.38,1,N,132,203,2,16.5,0.5,0.5,0.00,0.00,0.3,17.80
249,1,2018-01-01 00:20:47,2018-01-01 00:28:29,1,0.90,1,N,4,232,2,6.5,0.5,0.5,0.00,0.00,0.3,7.80

In [19]:
data.to_csv(r'yellow_tripdata_2018-01.csv',index=False)

In [20]:
S3Tools.uploadFileFromLocal('yellow_tripdata_2018-01.csv', 'colinmec-test', 'trip data/yellow_tripdata_2018-01.csv')

In [4]:
from datetime import datetime
datetime.fromtimestamp(1514768400-0)

datetime.datetime(2018, 1, 1, 1, 0)

In [7]:
15*60 + 5

905

In [14]:
import datetimeTools
ts = datetimeTools.strArrayToTimeStamps(data["tpep_pickup_datetime"].values)
data.insert(2, "pUTimeStamp", ts, True)
data.head(20)

,VendorID,tpep_pickup_datetime,pUTimeStamp,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-06-01 00:55:13,1559350513,2019-06-01 00:56:17,1,0.00,1,N,145,145,2,3.0,0.5,0.5,0.00,0,0.3,4.30,0.0
1,1,2019-06-01 00:06:31,1559347591,2019-06-01 00:06:52,1,0.00,1,N,262,263,2,2.5,3.0,0.5,0.00,0,0.3,6.30,2.5
2,1,2019-06-01 00:17:05,1559348225,2019-06-01 00:36:38,1,4.40,1,N,74,7,2,17.5,0.5,0.5,0.00,0,0.3,18.80,0.0
3,1,2019-06-01 00:59:02,1559350742,2019-06-01 00:59:12,0,0.80,1,N,145,145,2,2.5,1.0,0.5,0.00,0,0.3,4.30,0.0
4,1,2019-06-01 00:03:25,1559347405,2019-06-01 00:15:42,1,1.70,1,N,113,148,1,9.5,3.0,0.5,2.65,0,0.3,15.95,2.5
5,1,2019-06-01 00:28:31,1559348911,2019-06-01 00:39:23,2,1.60,1,N,79,125,1,9.5,3.0,0.5,1.00,0,0.3,14.30,2.5
6,1,2019-06-01 00:46:46,1559350006,2019-06-01 00:50:55,4,0.60,1,N,211,148,2,4.5,3.0,0.5,0.00,0,0.3,8.30,2.5
7,1,2019-06-01 00:54:49,1559350489,2019-06-01 01:02:57,2,1.20,1,N,79,249,1,7.5,3.0,0.5,1.00,0,0.3,12.30,2.5
8,1,2019-06-01 00:09:57,1559347797,2019-06-01 00:25:54,2,2.00,1,N,158,68,2,11.5,3.0,0.5,0.00,0,0.3,15.30,2.5
9,1,2019-06-01 00:29:12,1559348952,2019-06-01 01:03:13,1,8.60,1,N,186,243,1,31.5,3.0,0.5,7.05,0,0.3,42.35,2.5
10,2,2019-06-01 00:01:48,1559347308,2019-06-01 00:16:06,1,1.74,1,N,107,148,1,11.0,0.5,0.5,2.96,0,0.3,17.76,2.5
11,2,2019-06-01 00:17:41,1559348261,2019-06-01 00:30:22,1,2.22,1,N,148,137,2,10.5,0.5,0.5,0.00,0,0.3,14.30,2.5
12,2,2019-06-01 00:33:26,1559349206,2019-06-01 00:39:18,1,1.20,1,N,137,170,1,6.0,0.5,0.5,2.45,0,0.3,12.25,2.5
13,1,2019-06-01 00:01:42,1559347302,2019-06-01 00:06:14,1,0.70,1,N,229,141,1,5.5,3.0,0.5,1.70,0,0.3,11.00,2.5
14,2,2019-06-01 00:20:08,1559348408,2019-06-01 00:28:56,1,1.83,1,N,113,161,1,8.0,0.5,0.5,1.00,0,0.3,12.80,2.5
15,2,2019-06-01 00:30:40,1559349040,2019-06-01 01:08:12,1,5.11,1,N,230,229,1,25.0,0.5,0.5,7.20,0,0.3,36.00,2.5
16,1,2019-06-01 00:17:06,1559348226,2019-06-01 00:46:21,1,4.80,1,N,7,170,3,21.0,3.0,0.5,0.00,0,0.3,24.80,2.5
17,1,2019-06-01 00:47:52,1559350072,2019-06-01 01:04:19,1,5.20,1,N,170,42,1,16.5,3.0,0.5,4.05,0,0.3,24.35,2.5
18,2,2019-06-01 00:05:51,1559347551,2019-06-01 00:30:45,1,9.05,1,N,138,189,1,28.5,0.5,0.5,7.45,0,0.3,37.25,0.0
19,2,2019-06-01 00:36:38,1559349398,2019-06-01 00:57:43,1,4.07,1,N,97,89,1,16.5,0.5,0.5,3.56,0,0.3,21.36,0.0

In [3]:
schema

'ip STRING, date STRING, time STRING, zone STRING, cik STRING, accession STRING, extention STRING, code STRING, size STRING, idx STRING, norefer STRING, noagent STRING, find STRING, crawler STRING, browser STRING'

In [ ]:
datetime.fromtimestamp(timeStmp)
datetime.strftime(timeType,'%Y-%m-%d %H:%M:%S')

In [8]:
import sys
del sys.modules['datetimeTools']

In [7]:
import GlobalVar
schema = ', '.join([var1 + ' ' + var2 for var1, var2 in \
          zip(GlobalVar.getVal('weatherFields'), GlobalVar.getVal('weatherDataType'))])

In [8]:
schema

'timeStamp int, airTemp float, dewPt float, pressure float, windDir int, windSpd float, cloudCover string, precip1Hr float, precip6Hr float'

In [3]:
import GlobalVar
noaaStations = GlobalVar.getVal('noaaStations')
stationName = 'Central-Park'
stationId = noaaStations.keys()[noaaStations.values().index(stationName)]
year = 2018
keyName = stationName + '/' + stationId + '-' + str(year) + '.csv'
keyName

'Central-Park/725053-94728-2018.csv'

In [12]:
3700/3600

1

In [13]:
myind = 3700/3600
mylist = ['A','B','C']
mylist[myind]

'B'

In [15]:
type(mylist.index('B'))

int

In [ ]:
tu